<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.example.util.simpletimetracker.debug.SyncDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="de.piusdischinger.timetracker.debug.SYNC_NOW" />
                <action android:name="de.piusdischinger.timetracker.debug.DUMP_STATE" />
                <action android:name="de.piusdischinger.timetracker.debug.SET_CREDENTIALS" />
                <action android:name="de.piusdischinger.timetracker.debug.DNS_TEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
